<div class="container mt-5">
<mat-form-field>
  <mat-select [formControl]="tabDropdownControl" (selectionChange)="onTabSelect($event)" multiple placeholder="Please select Filters">
    <mat-option *ngFor="let tab of tabDropdownList" [value]="tab">{{tab}}</mat-option>
  </mat-select>
</mat-form-field>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-tab-group formArrayName="tabs" *ngIf="form.get('tabs')">
  <mat-tab *ngFor="let tab of getFormControl('tabs'); let i = index" [formGroupName]="i">
    <ng-template mat-tab-label>
      {{ getTabName(tab)}}
    </ng-template>

    <div formArrayName="checkboxes">
      <div *ngFor="let checkbox of getCheckbox(tab,'checkboxes'); let j = index" [formGroupName]="j">
        <mat-checkbox formControlName="checked">{{ finalData[i].checkboxList[j].name }}</mat-checkbox>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<button class="btn btn-primary submitbtn" type="submit">Submit</button>
</form>
</div>
